body{
    font-family: 'Poppins', sans-serif;
}

.first-page{
    background-image: url(images/donation6.png);
    background-size: cover;
    padding: 200px 100px;
} 


#cover-heading{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
}
#cover-heading-two{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;

}

.header-text{
    color: black;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text a{
    background-color: orangered;
    padding: 5px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.second-page{
    background-color: white;
    margin: 100px;
}
.number{
    color: black;
    font-size: large;
    text-align: center;
    padding-left: 3%;
    margin-top: 60px;
}
#number1{
    margin: 50px;
    font-weight: 800;

}
#number2{
    margin: 50px;
    font-weight: 800;
    background-color: rgb(240, 180, 159);
    padding: 30px 15px;
    border-radius: 3px;
    border: 2px solid orangered;
    
}
.other-amount-taka{

    color: black;
    font-size: large;
    text-align: center;
    padding-left: 3%;
    margin-top: 120px;

}
.other-amount-taka p{
color: rgb(167, 162, 162);
}
hr{
    margin-bottom: 30px;;
}
.donate-now{
    background-color: orangered;
    padding: 5px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.box-table{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;

}
.box-left{
    width: 25%;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    background-color: rgb(163, 207, 245);
    bac
    
}
.box-center{
    width: 25%;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    background-color: rgb(244, 244, 193);

}
.box-right{
    width: 25%;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    background-color: rgb(124, 221, 188);
}
#icon{
    height: 50px;
    width: 50px;
    padding: 10px;
}
.fourth-page{
    display: flex;
    margin: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
   
}
.half-width img{
    width: 100%;
    height: 100%;

}

 .fourth-page{
   background-color: antiquewhite;
   padding bottom: 200px;
    
}
#help{
    color: brown;
    font-weight: 900;
}
#help-p{
    font-size: larger;
    font-weight: 900;
    padding-top: 50px;
}
#help-q{
    font-size: large;
    font-weight: 600;   
    color: rgb(94, 106, 106);
    

}